@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");

.platzhalter {
  height: 300vh;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: rgb(218, 26, 0);
  --text-color: rgb(209, 209, 209);
  scroll-behavior: smooth;
}

body {
  background-color: #101010;
  color: #ffffff;
  font-family: "DM Sans", sans-serif;
}

.navigation {
  background-color: #202020;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.8rem;
  font-size: 0.8rem;
  text-align: center;
  padding: 0 1.2rem;
}

.navigation-item,
.footer-item {
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 0.1rem;
  transition: all 0.2s ease-in-out;
}

.navigation-item:hover,
.footer-item:hover {
  color: var(--primary-color);
}

.hero {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url(img/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 5rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.title {
  font-family: "Poetsen One", sans-serif;
  font-size: 2.9rem;
  line-height: 2.9rem;
}

.subtitle {
  font-weight: 500;
  margin: 0.8rem 0 0 0;
  color: var(--text-color);
}

.button,
.button-inverted {
  width: fit-content;
  display: inline-block;
  color: #ffffff;
  background-color: var(--primary-color);
  padding: 1rem 2rem;
  text-decoration: none;
  border: 1px solid var(--primary-color);
  transition: all 0.2s ease-in-out;
  display: block;
}

.button-inverted {
  background-color: rgba(0, 0, 0, 0.2);
  color: var(--primary-color);
}

.menu-nav .button-inverted {
  width: 4rem;
  background-color: rgba(0, 0, 0, 0.55);
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.2);
  color: var(--primary-color);
}

.button-inverted:hover {
  background-color: var(--primary-color);
  color: #ffffff;
}

.hero-button {
  margin: 4rem 0 0 0;
}

.about {
  display: grid;
  gap: 1.5rem;
}

.container {
  max-width: 85%;
  margin: 0 auto;
}

.heading {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  border-bottom: 1px solid var(--primary-color);
  width: fit-content;
  font-size: 1.5rem;
}

.about .heading {
  margin: 2rem 0 0.7rem 0;
}

.about-text {
  color: var(--text-color);
  font-size: 0.85rem;
}

.about-button {
  margin-top: 2rem;
  width: fit-content;
}

.about-gallery {
  width: 100%;
  display: flex;
  gap: 0.6rem;
}

.about-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-img-large {
  min-width: 50%;
}

.about-img-small {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  width: 100%;
}

.opening-bg {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(img/info.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 2rem 0;
  padding: 2rem 0;
}

.opening-information .heading {
  margin: 0 0 0.7rem 0;
}

.opening-information {
  width: max-content;
  margin: 0 auto;
}

.opening-dates {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 0.2rem;
  font-size: 0.85rem;
}

.opening-day {
  text-align: left;
  color: var(--text-color);
}
.opening-time:nth-of-type(2) {
  color: var(--text-color);
}

.opening-time {
  text-align: right;
}

.contact-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contact-img {
  width: 100%;
}

.contact .heading {
  margin-bottom: 0.7rem;
}

.contact-data {
  margin-top: 0.3rem;
  color: var(--text-color);
}

.contact-action {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  gap: 0.7rem;
}

.footer {
  background-color: #202020;
  margin-top: 2rem;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  text-align: center;
  font-size: 0.8rem;
}

.footer-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.footer-copyright {
  color: var(--text-color);
}

.menu-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 1.5rem 0 2rem 0;
}

.menu-category {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-content .heading {
  margin: 4rem 0 0.3rem 0;
}

.menu-dishes {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.menu-dish {
  background: linear-gradient(
    45deg,
    rgba(255, 22, 22, 0.01),
    rgba(162, 162, 162, 0.2),
    rgba(169, 9, 9, 0.01)
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem 0.8rem 2rem 0.8rem;
  border-radius: 2.5rem;
}

.menu-img {
  width: 70%;
  object-fit: cover;
}

.dish-heading {
  color: var(--primary-color);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 400;
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
}

.ingredients {
  font-weight: 200;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}

.menu-order {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  text-transform: lowercase;
  color: var(--text-color);
  font-weight: 600;
  margin-top: 0.5rem;
}

.arrow {
  font-weight: 300;
  font-size: 1.2rem;
}

.menu-order:hover {
  color: var(--primary-color);
  cursor: pointer;
  transition: 0.1s all ease-in-out;
}

@media only screen and (min-width: 600px) {
  .navigation,
  .footer-links {
    gap: 2.5rem;
    font-size: 1rem;
  }

  .title {
    font-size: 4rem;
    line-height: 4rem;
  }

  .subtitle:not(.menu-category .subtitle) {
    font-size: 1.5rem;
  }

  .button,
  .button-inverted {
    padding: 1.1rem 2.1rem;
  }

  .menu-nav .button-inverted {
    font-size: 1.1rem;
    width: 5rem;
  }

  .contact-content {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .contact-img {
    width: 60%;
  }

  .footer {
    margin-top: 4rem;
    padding: 3rem 0;
    gap: 3rem;
  }

  .footer-links {
    flex-direction: row;
  }

  .menu-nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1.2rem 0;
    gap: 0.6rem;
  }

  .menu-dishes {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .dish-heading {
    height: 3rem;
  }

  .ingredients {
    height: 3rem;
    margin-top: 1rem;
  }

  .menu-order {
    margin-top: 1rem;
  }
}

@media only screen and (min-width: 1000px) {
  .navigation,
  .footer-links {
    gap: 5rem;
  }

  .title {
    font-size: 5.5rem;
    line-height: 5.5rem;
  }

  .about {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-top: 8rem;
    gap: 2rem;
  }

  .heading:not(.menu-category .heading) {
    font-size: 2rem;
  }

  .about-text {
    font-size: 1.1rem;
  }

  .about-gallery,
  .about-img-small {
    gap: 1rem;
  }

  .opening-bg {
    margin: 8rem 0;
    padding: 7rem 0 7rem 0;
  }

  .opening-dates {
    font-size: 1.4rem;
  }

  .contact-img {
    width: 50%;
  }

  .contact .heading {
    margin-bottom: 2rem;
  }

  .contact-data {
    margin-top: 1rem;
    font-size: 1.1rem;
  }

  .contact-action {
    flex-direction: row;
  }

  .footer {
    margin-top: 8rem;
    padding: 4rem 0;
    gap: 5rem;
  }

  .menu-nav {
    display: flex;
    flex-direction: row;
    margin: 2.5rem 0;
  }

  .menu-content .heading {
    margin: 6rem 0 0.3rem 0;
  }

  .menu-dishes {
    display: flex;
    flex-direction: row;
    margin-top: 2.5rem;
  }

  .menu-img {
    width: 90%;
  }

  .ingredients {
    height: 5rem;
  }
}

@media only screen and (min-width: 1400px) {
  .about {
    max-width: 1200px;
  }

  .contact {
    max-width: 1200px;
  }

  .menu-dishes {
    max-width: 1200px;
  }
}
