@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");

.platzhalter {
  height: 300vh;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: rgb(218, 26, 0);
  --text-color: rgb(209, 209, 209);
  --text-size: 0.85rem;
  scroll-behavior: smooth;
}

body {
  background-color: #101010;
  color: #ffffff;
  font-family: "DM Sans", sans-serif;
}

.navigation {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.8rem;
  font-size: 0.8rem;
  text-align: center;
  padding: 0 1.2rem;
}

.navigation-item {
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 0.1rem;
  transition: all 0.2s ease-in-out;
}

.navigation-item:hover {
  color: var(--primary-color);
}

.hero {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url(img/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 5rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.title {
  font-family: "Poetsen One", sans-serif;
  font-size: 2.9rem;
  line-height: 2.9rem;
}

.subtitle {
  font-weight: 500;
  margin: 0.8rem 0 0 0;
  color: var(--text-color);
}

.cta {
  display: inline-block;
  color: #ffffff;
  background-color: var(--primary-color);
  padding: 1rem 2rem;
  text-decoration: none;
  border: 1px solid var(--primary-color);
  transition: all 0.2s ease-in-out;
}

.hero-cta {
  margin: 4rem 0 0 0;
}

.cta:hover {
  background-color: rgba(0, 0, 0, 0.2);
  color: var(--primary-color);
}

.about-container {
  display: grid;
  gap: 1.5rem;
  max-width: 85%;
  margin: 0 auto;
}

.heading {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  border-bottom: 1px solid var(--primary-color);
  width: fit-content;
  margin: 1.5rem 0 0.7rem 0;
  font-size: 1.5rem;
}

.about-text {
  color: var(--text-color);
  font-size: var(--text-size);
}

.about-cta {
  margin-top: 2rem;
  width: fit-content;
}

.about-gallery {
  width: 100%;
  display: flex;
  gap: 0.6rem;
}

.about-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-img-large {
  min-width: 50%;
}

.about-img-small {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  width: 100%;
}

.opening-bg {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(img/info.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 1.5rem 0;
  padding: 2rem 0;
}

.opening-information .heading {
  margin-top: 0;
}

.opening-information {
  width: max-content;
  margin: 0 auto;
}

.opening-dates {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 0.2rem;
  font-size: var(--text-size);
}

.opening-day {
  text-align: left;
  color: var(--text-color);
}
.opening-time:nth-of-type(2) {
  color: var(--text-color);
}

.opening-time {
  text-align: right;
}

@media only screen and (min-width: 600px) {
  .navigation {
    gap: 2.5rem;
    font-size: 1rem;
  }

  .title {
    font-size: 4rem;
    line-height: 4rem;
  }

  .subtitle {
    font-size: 1.5rem;
  }

  .cta {
    padding: 1.1rem 2.1rem;
  }
}

@media only screen and (min-width: 1000px) {
  .navigation {
    gap: 5rem;
  }

  .title {
    font-size: 5.5rem;
    line-height: 5.5rem;
  }

  .about-container {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-top: 8rem;
    gap: 2rem;
  }

  .heading {
    font-size: 2rem;
  }

  .about-text {
    font-size: 1.1rem;
  }

  .about-gallery,
  .about-img-small {
    gap: 1rem;
  }

  .opening-bg {
    margin: 8rem 0;
    padding: 6rem 0 6rem 0;
  }

  .opening-dates {
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 1400px) {
  .about-container {
    max-width: 1200px;
  }
}
