@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");

.platzhalter {
  height: 300vh;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #101010;
  color: #ffffff;
  font-family: "DM Sans", sans-serif;
}

.hero {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.73)),
    url(img/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 5rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.title {
  font-family: "Poetsen One", sans-serif;
  font-size: 2.9rem;
  line-height: 2.9rem;
}

.subtitle {
  font-weight: 500;
  color: rgb(209, 209, 209);
  margin: 0.8rem 0 0 0;
}

.hero-cta {
  color: #ffffff;
  background-color: rgb(252, 27, 27);
  padding: 1rem 2rem;
  text-decoration: none;
  margin: 4rem 0 0 0;
  border: 1px solid rgb(252, 27, 27);
  /* transition: all 0.2s ease-in-out; */
}

.hero-cta:hover {
  background-color: rgba(0, 0, 0, 0.2);
  color: rgb(252, 27, 27);
  transition-duration: 400ms;
}

.navigation {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 0 2rem;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.8rem;
  font-size: 0.9rem;
  padding: 0 1.2rem;
  text-align: center;
  text-transform: uppercase;
}

.navbar-item {
  color: #ffffff;
  text-decoration: none;
}

.navbar-item:hover {
  color: rgb(252, 27, 27);
}

.burger {
  border: 1px solid rgb(252, 27, 27);
  width: max-content;
  padding: 0.5rem;
  align-items: center;
}

.burger-item {
  background-color: rgb(252, 27, 27);
  height: 0.2rem;
  width: 1.5rem;
  border-radius: 0.5rem;
}

/* Auf eine CSS Pseudoklasse mit :not reduzieren! */

.burger-item:nth-child(2) {
  margin-top: 0.2rem;
}

.burger-item:nth-child(3) {
  margin-top: 0.2rem;
}

@media only screen and (max-width: 600px) {
  .navbar {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .title {
    font-size: 4rem;
    line-height: 4rem;
  }
  .subtitle {
    font-size: 1.5rem;
  }

  .herocta {
    padding: 1.1rem 2.1rem;
  }

  .navbar {
    gap: 2.5rem;
    font-size: 1.1rem;
  }

  .burger {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  .title {
    font-size: 5.5rem;
    line-height: 5.5rem;
  }

  .navbar {
    gap: 5rem;
  }
}
