body {
  margin: 0;
}

.hero {
  background: linear-gradient(
      to top,
      rgba(85, 85, 85, 0.52),
      rgba(0, 0, 0, 0.73)
    ),
    url(img/pizza-3007395_1280.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  color: white;
}

.subtitle {
  color: rgb(209, 209, 209);
}

.openinghours {
  color: white;
  background-color: rgb(255, 0, 0);
  padding: 1em 2em;
  text-decoration: none;
}
