@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");

.platzhalter {
  height: 300vh;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: rgb(252, 27, 27);
}

body {
  background-color: #101010;
  color: #ffffff;
  font-family: "DM Sans", sans-serif;
}

.navigation {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.8rem;
  font-size: 0.8rem;
  text-align: center;
  padding: 0 1.2rem;
}

.navigation-item {
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 0.1rem;
  transition: all 0.2s ease-in-out;
}

.navigation-item:hover {
  color: var(--primary-color);
}

.hero {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.73)),
    url(img/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 5rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.title {
  font-family: "Poetsen One", sans-serif;
  font-size: 2.9rem;
  line-height: 2.9rem;
}

.subtitle {
  font-weight: 500;
  color: rgb(209, 209, 209);
  margin: 0.8rem 0 0 0;
}

.hero-cta {
  color: #ffffff;
  background-color: var(--primary-color);
  padding: 1rem 2rem;
  text-decoration: none;
  margin: 4rem 0 0 0;
  border: 1px solid var(--primary-color);
  /* transition: all 0.2s ease-in-out; */
}

.hero-cta:hover {
  background-color: rgba(0, 0, 0, 0.2);
  color: var(--primary-color);
  transition-duration: 400ms;
}

.about {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

.about-title {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-decoration: underline var(--primary-color);
  text-underline-offset: 0.3rem;
  text-decoration-thickness: 0.1rem;
}

.about-cta {
  color: #ffffff;
  background-color: var(--primary-color);
  width: max-content;
  padding: 1rem 2rem;
  text-decoration: none;
  border: 1px solid var(--primary-color);
  transition: all 0.2s ease-in-out;
}

.collage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  background-color: rgb(255, 255, 0);
  padding: 2rem;
  height: 500px;
}

.collage-child {
  background-color: aqua;
  color: red;
  /* padding: 1rem 1rem 0 1rem; */
}

.collage-child:nth-child(1) {
  background-color: bisque;
  /* height: 100%; */
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.collage-child:nth-child(2) {
  grid-column-start: 2;
  grid-row-start: 1;
}

.collage-child:nth-child(3) {
  grid-column-start: 2;
  grid-row-start: 2;
}

@media only screen and (min-width: 600px) {
  .navigation {
    gap: 2.5rem;
    font-size: 1rem;
  }

  .title {
    font-size: 4rem;
    line-height: 4rem;
  }

  .subtitle {
    font-size: 1.5rem;
  }

  .herocta {
    padding: 1.1rem 2.1rem;
  }
}

@media only screen and (min-width: 992px) {
  .navigation {
    gap: 5rem;
  }

  .title {
    font-size: 5.5rem;
    line-height: 5.5rem;
  }
}
